@model ASBM.Models.MultipleModel


@if (Model.billSubmission.bill_details_id_pk > 0)
{
    <div class="container" style="background-color: white; color: black; padding-bottom: 20px;" id="billDetailsShowHide">
        <div class="row no-gutters">
            <div class="flex-column justify-content-center about-content" style="width: 100% !important;">
                <div class="section-title">
                    <h2>Bill Details of the Docket No</h2>
                </div>
            </div>
        </div>

        <div class="container" style="background-color: beige;">

            <form id="" method="post" class="" style="display:block;">

                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="exampleInputEmail1">Category of Company: </label>
                        <input type="text" class="form-control" id="" placeholder="Enter Category of Company">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleInputEmail1">Type Of Work: </label>
                        <input type="text" class="form-control" id="" placeholder="Enter Type Of Work">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="exampleInputEmail1">Company Name: </label>
                        <input type="text" class="form-control" id="" placeholder="Enter Company Name" value="">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleInputEmail1">Department Name: </label>
                        <input type="text" class="form-control" id="" placeholder="Enter Department Name">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="exampleInputEmail1">Proprietor Name: </label>
                        <input type="text" class="form-control" id="" placeholder="Enter Proprietor Name">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleInputEmail1">Fund Name: </label>
                        <input type="text" class="form-control" id="" placeholder="Enter Fund Name">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="exampleInputEmail1">Mobile No: </label>
                        <input type="number" class="form-control" id="" placeholder="Enter Mobile No">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleInputEmail1">GST No: </label>
                        <input type="number" class="form-control" id="" placeholder="Enter GST No">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="exampleInputEmail1">Description of Work: </label>
                        <input type="text" class="form-control" id="" placeholder="Enter Mobile No">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleInputEmail1">Bill Amount: </label>
                        <input type="number" class="form-control" id="" placeholder="Enter Bill Amount">
                    </div>
                </div>
                <div class="form-group row justify-content-center text-center">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-info" id="btn_submit">Submit</button>
                        <button type="button" class="btn btn-info" id="btn_print">Print</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
}

