@model List<ASBM.Models.TreasuryModel>

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr class="dataHead">
            <th>SL</th>
            <th>Treasury Advice No</th>
            <th>Treasury Advice Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var obj in Model)
            {
                <tr class="inAc" style="color: black;font-size: 13px !important;">
                    <td>@obj.treasury_scheme_id_pk</td>
                    <td>@obj.treasury_advice_no</td>
                    <td>@obj.treasury_advice_date</td>
                </tr>
            }
        }
    </tbody>
</table>


