@model List<ASBM.Models.BillSubmission>


<form id="bill_form" method="post">
    <div class="row form-group" style="text-align: center;">
        <input class="form-check-input hidden" type="text" id="hiddenBillId" value="">
        <div class="col-md-12">
            <div class="form-check form-check-inline">
                <input class="form-check-input showhide" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Individual">
                <label class="form-check-label" for="inlineRadio1">Individual</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input showhide" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="HUF">
                <label class="form-check-label" for="inlineRadio2">HUF</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input showhide" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Limited Company">
                <label class="form-check-label" for="inlineRadio3">Limited Company</label>
            </div>

            @*</div>
            </div>

            <div class="row form-group">
                <div class="col-md-12">*@
            <div class="form-check form-check-inline">
                <input class="form-check-input showhide" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="PVT LTD Company">
                <label class="form-check-label" for="inlineRadio4">PVT LTD Company</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input showhide" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="SOLE PROPRIETOR">
                <label class="form-check-label" for="inlineRadio5">SOLE PROPRIETOR</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input showhide" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="PARTNERSHIP FIRM">
                <label class="form-check-label" for="inlineRadio6">PARTNERSHIP FIRM</label>
            </div>


        </div>
    </div>



    <div class="row form-group" id="IndHideShow">
        <div class="col-md-6">
            <label>If Individual ,Compamy Type Name :</label>
            <input type="text" id="txtIndividual" placeholder="Enter Individual  Type Name" class="form-control placeholder-no-fix" autocomplete="off" value="">
        </div>
    </div>

    <div class="row form-group" id="HufHideShow">
        <div class="col-md-6">
            <label>If HUF Type Name :</label>
            <input type="text" id="txtHuf" placeholder="Enter HUF Name" class="form-control placeholder-no-fix" autocomplete="off" value="">
        </div>
    </div>
    <div class="row form-group" id="ltdHideShow">
        <div class="col-md-6">
            <label>If Limited, Company Type Name :</label>
            <input type="text" id="txtLtd" placeholder="Enter LTD Name" class="form-control placeholder-no-fix" autocomplete="off" value="">
        </div>
    </div>
    <div class="row form-group" id="pvtHideShow">
        <div class="col-md-6">
            <label>If PVT LTD, Company Type Name :</label>
            <input type="text" id="txtPvt" placeholder="Enter PVT LTD Name" class="form-control placeholder-no-fix" autocomplete="off" value="">
        </div>
    </div>
    <div class="row form-group" id="SoleHideShow">
        <div class="col-md-6">
            <label>If SOLE PROPRIETOR ,Compamy Type Name :</label>
            <input type="text" id="txtSoleProprietor" placeholder="Enter Sole Proprietor Type Name" class="form-control placeholder-no-fix" autocomplete="off" value="">
        </div>
    </div>
    <div class="row form-group" id="PartnershipHideShow">
        <div class="col-md-6">
            <label>If Partnership Firm Type Name :</label>
            <input type="text" id="txtpartnership" placeholder="Enter Partnership Type Name" class="form-control placeholder-no-fix" autocomplete="off" value="">
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-4">
            <label>Type of Bill:</label>
            <select id="ddlTypeBill" class="form-control placeholder-no-fix selectpicker" data-show-subtext="true" data-live-search="true">
                @*<option value="">Select</option>*@
            </select>
        </div>

        <div class="col-md-4">
            <label>Department:</label>
            <select id="ddlDepartment" class="form-control placeholder-no-fix selectpicker" data-show-subtext="true" data-live-search="true">
                @*<option value="">Select</option>*@
            </select>
        </div>

        <div class="col-md-4">
            <label>Pan No :</label>
            <input type="text" id="txt_pan" placeholder="Enter Pan NO" name="" class="form-control placeholder-no-fix" autocomplete="off" maxlength="10">
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-4">
            <label>GST NO :</label>
            <input type="text" id="txt_gst" placeholder="Enter GST NO" name="" class="form-control placeholder-no-fix" autocomplete="off" maxlength="50">
        </div>
        <div class="col-md-4">
            <label>Fund Name:</label>
            <select id="ddlFund" class="form-control placeholder-no-fix selectpicker" data-show-subtext="true" data-live-search="true">
            </select>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
            <label>Description of Work :</label>
            <textarea type="text" id="txt_work_desc" placeholder="Enter Description of Work" name="" class="form-control placeholder-no-fix" autocomplete="off"></textarea>
        </div>
    </div>

    <div class="row form-group" style="margin-bottom: 0px;">
        <div class="col-md-4">
            <label>Amount :</label>
            <input type="number" id="txt_amount" placeholder="Enter Amount" name="" class="form-control placeholder-no-fix" autocomplete="off" maxlength="50">
        </div>
    </div>

    <div class="form-group row justify-content-center text-center">
        <div class="col-sm-12">
            <button type="button" class="btn btn-info" id="btn_submit">Submit</button>
            <button type="button" class="btn btn-success d-lg-none" id="btn_update">Update</button>
        </div>
    </div>
</form>
