@model List<ASBM.Models.BillSubmission>
@{
    ViewBag.Title = "Bill Submission Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/admin/css/bill_submission.css" rel="stylesheet" />

<div class="container">
    <div class="container" style="background-color: white; color: black; padding-bottom: 20px;">
        <div class="row no-gutters">
            <div class="flex-column justify-content-center about-content" style="width: 100% !important;">
                <div class="section-title">
                    <h2>Bill Submission</h2>
                </div>
            </div>
        </div>

        <div class="container" style="background-color: beige;">
            <div id="prtAsbmform">
                @Html.Partial("~/Views/Home/_partialBillSubmissionForm.cshtml", Model)
            </div>


            <div id="prtCmsDataTable">
                @Html.Partial("~/Views/Home/_partialBillSubmissionDataTable.cshtml", Model)
            </div>

            <!--<table id="tab_bill_submission" class="table table-striped">
                <thead>
                    <tr>-->
            @*<th scope="col">CHOOSE</th>*@
            <!--<th scope="col">DOCKET NO</th>
            <th scope="col">DATE</th>-->
            @*<th scope="col">STATUS</th>*@
            @*<th scope="col">EDIT / DELETE</th>*@
            <!--</tr>
                </thead>
                <tbody>
                </tbody>
            </table>-->
        </div>
    </div>

</div>


<script src="~/assets/admin/js/bill_submission.js"></script>


<!---------------------------- Modal for Confirm Submit ----------------------->
<!--<div id="myForward" class="modal fade" role="dialog">
    <div class="modal-dialog">-->
<!-- Modal content-->
<!--<div class="modal-content modal_forward_claim_content">
            <div class="modal-header">
                <h4 class="modal-title modal_title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal_forward_claim_body">
            </div>
            <div class="modal-footer">
                <span class="show_forward_btn_dtls"></span>

                <button type="button" class="btn btn-danger frwd_btn_no btn_auto_redirect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>-->
