@model List<ASBM.Models.DepartmentModel>

@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/admin/css/department_entry.css" rel="stylesheet" />


<div class="container">
    <div class="container" style="background-color: white; color: black; padding-bottom: 20px;">
        <div class="row no-gutters">
            <div class="flex-column justify-content-center about-content" style="width: 100% !important;">
                <div class="section-title">
                    <h2>Department Entry</h2>
                </div>
            </div>
        </div>

        <div class="container" style="background-color: beige;">

            <form id="department_form" method="post">
                <div class="row form-group">
                    <div class="col-md-6">
                        <label>Department Name :</label>
                        <input type="text" id="txtDptName" placeholder="Department Name" name="txtDptName" class="form-control placeholder-no-fix" autocomplete="off">
                    </div>
                    <div class="col-sm-6" style="margin-top: 15px;">
                        <button type="button" class="btn btn-info" id="btn_submit">Submit</button>
                    </div>
                </div>
            </form>
            <div id="prtCmsDataTable">
                @Html.Partial("~/Views/Home/_partialDepartmentEntryDataTable.cshtml", Model)
            </div>
        </div>
    </div>

</div>


<script src="~/assets/admin/js/department_entry.js"></script>


<!---------------------------- Modal for Confirm Submit ----------------------->
<div id="myForward" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal_forward_claim_content">
            <div class="modal-header">
                <h4 class="modal-title modal_title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal_forward_claim_body">
            </div>
            <div class="modal-footer">
                <span class="show_forward_btn_dtls"></span>

                <button type="button" class="btn btn-danger frwd_btn_no btn_auto_redirect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>