
@{
    ViewBag.Title = "Rejected Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="container" style="background-color: white; color: black; padding-bottom: 20px;">
        <div class="row no-gutters">
            <div class="flex-column justify-content-center about-content" style="width: 100% !important;">
                <div class="section-title">
                    <h2>REJECETD BILLS</h2>
                </div>
            </div>
        </div>

        <div class="container" style="background-color: beige;">

            <table id="table" class="display">
                <thead>
                    <tr>
                        <th scope="col">Docket No</th>
                        <th scope="col">Date</th>
                        <th scope="col">Department Name</th>
                        <th scope="col">Party Name</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>

</div>

