
@{
    ViewBag.Title = "RejectedBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="container" style="background-color: white; color: black; padding-bottom: 20px;">
        <div class="row no-gutters">
            <div class="flex-column justify-content-center about-content" style="width: 100% !important;">
                <div class="section-title">
                    <h2>REJECETD BILLS</h2>
                </div>
            </div>
        </div>

        <div class="container" style="background-color: beige;">

            <table id="table" class="display">
                <thead>
                    <tr>
                        <th scope="col">DOCKET NO</th>
                        <th scope="col">DATE</th>
                        <th scope="col">DEPARTMENT</th>
                        <th scope="col">PARTY NAME</th>
                        <th scope="col">STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

