@model ASBM.Models.MultipleModel
@{
    ViewBag.Title = "Rejected Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="container" style="background-color: white; color: black; padding-bottom: 20px;">
        <div class="row no-gutters">
            <div class="flex-column justify-content-center about-content" style="width: 100% !important;">
                <div class="section-title">
                    <h2>REJECETD BILLS</h2>
                </div>
            </div>
        </div>

        <div class="container" style="background-color: beige;">

            <table id="table" class="display">
                <thead>
                    <tr>
                        <th scope="col">SL</th>
                        <th scope="col">Docket No</th>
                        <th scope="col">Department Name</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int rows = 1;}
                    @if (Model != null && Model.rejectBillList.Count > 0)
                    {
                        foreach (var obj in Model.rejectBillList)
                        {
                            <tr class="inAc" style="color: black;font-size: 13px !important;">
                                <td>@rows</td>
                                <td>@obj.docket_no</td>
                                <td>@obj.department_name</td>
                                <td>@obj.entry_time</td>
                            </tr>

                            rows++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

