@model ASBM.Models.MultipleModel

<table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr class="dataHead">
            <th>SL</th>
            <th>Voucher No</th>
            <th>Voucher Date</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @{ int rows = 1;}
        @if (Model != null && Model.accountantList.Count > 0)
        {
            foreach (var obj in Model.accountantList)
            {
                <tr class="inAc" style="color: black;font-size: 13px !important;">
                    <td>@rows</td>
                    <td>@obj.voucher_no</td>
                    <td>@obj.entry_time</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-primary btn-sm" id="BtnView" data-id="@obj.voucher_id_pk">View</button>
                    </td>
                </tr>

                rows++;
            }
        }
    </tbody>
</table>



